<!-- sidebar -->
<%= render 'admin/sidebar' %>

<!-- form -->

<div class="row">
  <div class="col-md-10 offset-md-2 mb-4">
    <div class="card">
      <h5 class="card-header">カレンダー編集</h5>
      <div class="card-body">
        <%= form_with(model: @calendar, url: {controller: 'admin/calendars', action: 'update' }, local: true) do |form| %>
          <div class="form-group">
            <%= form.label :term, "期:" %>
            <%= form.number_field :term %>

            <%= form.label :time, "回:" %>
            <%= form.number_field :time %>

            <%= form.label :first_evaluation_submission_date, "1次提出年月日:" %>
            <%= form.date_select :first_evaluation_submission_date %>

            <%= form.label :second_evaluation_submission_date, "2次提出年月日:" %>
            <%= form.date_select :second_evaluation_submission_date %>

            <%= form.label :award_date, "表彰年月日:" %>
            <%= form.date_select :award_date %>

            <%= form.submit "登録", class: "btn btn-sm btn-primary" %>
            <a href="/admin/calendars/" class="btn btn-sm btn-danger">戻る</a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
