<!-- sidebar -->
<%= render 'admin/sidebar' %>

<!-- table -->

<!-- 追加フォームのような形で登録できるようにする_reactで実装 -->
<div class="row">
  <div class="col-md-10 offset-md-2 mb-4">
    <div class="card">
      <h5 class="card-header">カレンダー作成</h5>
      <div class="card-body">
      <%= link_to '新規作成', "/admin/calendars/new", class: 'btn btn-block btn-secondary' %>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">期</th>
                <th scope="col">回</th>
                <th scope="col">1次提出年月日</th>
                <th scope="col">2次提出年月日</th>
                <th scope="col">表彰年月日</th>
              </tr>
            </thead>
            <tbody>
              <% @calendars.each do |i| %>
                <tr>
                  <th scope="row"><%= i.term %></th>
                  <td><%= i.time %></td>
                  <td><%= i.first_evaluation_submission_date.strftime('%Y/%m/%d') %></td>
                  <td><%= i.second_evaluation_submission_date.strftime('%Y/%m/%d') %></td>
                  <td><%= i.award_date.strftime('%Y/%m/%d') %></td>
                  <td><%= link_to '編集', "/admin/calendars/#{i.id}/edit", class: 'btn btn-sm btn-primary' %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
