<div class="card mb-5">
  <h5 class="card-header">新規作成</h5>
  <div class="card-body">

    <% if @errors.present? %>
      <div class="alert alert-danger">
        <% @errors.each do |error| %>
          <p><%= error %></p>
        <% end %>
      </div>
    <% end %>

    <%= form_with(model: @kaizen_report, url: kaizen_reports_path, local: true) do |form| %>
      <div class="form-group">
        <p>社員CD: <%= current_user.employee_code %></p>
        <p>部署: <%= current_user.department.department_name %></p>
        <p>氏名: <%= current_user.username %></p>

        <p>
          <%= form.label :submission_date, "提出日:" %>
          <%= form.select :submission_date, @evaluation_dates, prompt: "選択してください" %>
        </p>
      
        <!-- もっと長く -->
        <p>
          <%= form.label :subject, "件名:" %>
          <%= form.text_field :subject %>
        </p>

        <p>
          <%= form.label :before_images, "改善前の画像:" %> <!-- クリップボードでコピペできるように -->
          <%= form.file_field :before_images, multiple: true %>
        </p>

        <!-- 文字数制限 -->
        <p>
          <%= form.label :before_text, "改善前のテキスト:" %>
          <%= form.text_area :before_text %>
        </p> 

        <% if form.object.before_images.attached? %>
          <div class="image-preview">
            <% form.object.before_images.each do |image| %>
              <%= image_tag image %>
            <% end %>
          </div>
        <% end %>

        <p>
          <%= form.label :after_images, "改善後の画像:" %> <!-- クリップボードでコピペできるように(優先度低め) -->
          <%= form.file_field :after_images, multiple: true %>
        </p>

        <p>
          <%= form.label :after_text, "改善後のテキスト:" %>
          <%= form.text_area :after_text %>
        </p>

        <p>
          <%= form.label :effect_comment, "効果コメント:" %>
          <%= form.text_area :effect_comment %>
        </p>

        <p>
          <%= form.label :cost, "費用:" %>
          <%= form.number_field :cost, step: "any", class: "form-control" %>
          <span>円</span>
        </p>

        <p>
          <%= form.label :effect_amount, "効果金額:" %> <!-- 単位を選んで式が自動で出る。島田さんの年間高価金額を参考に -->
          <%= form.number_field :effect_amount, step: "any", class: "form-control" %>
          <span>円</span>
        </p>

        <p>
          <%= form.label :tsk_value_id, "TSKバリュー:" %>
          <%= form.collection_select :tsk_value_id, @tsk_values, :id, :value_name, prompt: "選択してください" %>
        </p>

        <!-- 自分のIDも入れる -->
        <p class="member-form-container">
          <script>
            var currentUserId = <%= current_user.id %>;
          </script>

          <%= form.label :kaizen_member_username, "KAIZENメンバー:" %>

          <!-- このフォームの入力値はsubmitしないのでname属性はnil -->
          <%= text_field_tag :kaizen_member_username, nil, autocomplete: "on", list: "users", class: "kaizen_member_username", name: nil %>
          <%= form.hidden_field :kaizen_member_id, class: "kaizen_member_id", name: nil %>

          <datalist id="users">
            <% @users.each do |i| %>
              <option value="<%= i.username %>" data-id="<%= i.id %>"></option>
            <% end %>
          </datalist>
          <button class="add_member_button" type="button">追加</button>
          <button class="remove_member_button" type="button">削除</button>
        </p>

        <p>
          <!-- 上記のclass名kaizen_member_idのフォームの入力値をなどをカンマ区切りで統合し、このフォームの値に設定 -->
          <%= form.hidden_field :kaizen_member_id, class: "combined_kaizen_member_ids" %>
        </p>

        <p>
          <!-- 評価進捗区分：初期値に"未評価"を設定 -->
          <%= form.hidden_field :evaluator_progress_id, value: 1 %>
        </p>

        <p>
          <!-- 賞区分：初期値に"賞無し"を設定 -->
          <%= form.hidden_field :award_id, value: 4 %>
        </p>

        <p>
        <!-- 確認を挟む -->
          <%= form.submit "提出", name: "submit", class: "btn btn-sm btn-primary", data: { turbo_method: :post, turbo_confirm: "本当に提出しますか?" } %>
          <%= form.submit "保存", name: "save", class: "btn btn-sm btn-secondary" %>
          <%= link_to '戻る', user_path(current_user), class: 'btn btn-sm btn-danger', data: { turbo_method: :get, turbo_confirm: '保存されていませんがよろしいですか？' } %>
        </p>
      </div>
    <% end %>
  </div>
</div>