<div class="card mb-5">
  <h5 class="card-header">新規作成</h5>
  <div class="card-body">

    <% if @errors.present? %>
      <div class="alert alert-danger">
        <% @errors.each do |error| %>
          <p><%= error %></p>
        <% end %>
      </div>
    <% end %>

    <%= form_with(model: @kaizen_report, url: kaizen_reports_path, local: true) do |form| %>
      <div class="form-group">

        <p>
          <%= form.label :employee_code, "社員CD" %>
          <%= form.text_field :employee_code, value: current_user.employee_code, class: 'form-control', disabled: true %>
        </p>

        <p>
          <%= form.label :department_name, "部署" %>
          <%= form.text_field :department_name, value: current_user.department.department_name, class: 'form-control', disabled: true %>
        </p>

        <p>
          <%= form.label :username, "氏名" %>
          <%= form.text_field :username, value: current_user.username, class: 'form-control', disabled: true %>
        </p>

        <p><!-- 削除済みのものはすべてのドロップボックスに出さない -->
          <%= form.label :submission_date, "提出日" %>
          <%= form.select :submission_date, @evaluation_dates, {}, { class: 'form-select' } %>
        </p>
      
        <p>
          <%= form.label :subject, "件名" %>
          <%= form.text_field :subject, { class: 'form-control' } %>
        </p>

        <p>
          <%= form.label :before_images, "改善前の画像" %>
          <%= form.file_field :before_images, multiple: true, id: "before-images-upload", class: 'form-control' %>
        </p>

        <div id="images-preview"></div>

        <p>
          <%= form.label :before_text, "改善前のテキスト" %>
          <%= form.text_area :before_text, class: "form-control" %>
        </p>

        <p><!-- Ctrl + Vで画像を貼れるようにする & カメラ -->
          <%= form.label :after_images, "改善後の画像" %>
          <%= form.file_field :after_images, multiple: true, id: "after-images-upload", class: 'form-control' %>
        </p>

        <div id="after-images-preview"></div>

        <p>
          <%= form.label :after_text, "改善後のテキスト" %>
          <%= form.text_area :after_text, class: "form-control" %>
        </p>

        <p>
          <%= form.label :effect_comment, "効果コメント" %>
          <%= form.text_area :effect_comment, class: "form-control" %>
        </p>

        <p>
          <%= form.label :cost, "費用(円)" %>
          <%= form.number_field :cost, step: "any", class: "form-control" %>
        </p>


        <!-- 島田さんが作ってくれた「効果金額算出フォーマット」をモーダルで確認できるようにする -->
        <p>
          <%= form.label :effect_amount, "効果金額(円)" %> <!-- 単位を選んで式が自動で出る。島田さんの年間高価金額を参考に -->
          <%= form.number_field :effect_amount, step: "any", class: "form-control" %>
        </p>

        <!-- モーダル本体(順番:KAIZEN種類 > 単位 > 金額) -->
        <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">効果金額算出フォーマット</h5>
              </div>
              <div class="modal-body">
                <table>
                  <thead>
                    <tr>
                      <th scope="col">KAIZEN種類</th>
                      <th scope="col">単位</th>
                      <th scope="col">金額(円)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @effect_amounts.each do |i| %>
                      <tr>
                        <td><%= i.kaizen_type %></td>
                        <td><%= i.unit %></td>
                        <td><%= i.amount %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
              </div>
            </div>
          </div>
        </div>

        <!-- モーダルを開くためのボタン -->
        <button type="button" class="btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
          効果金額算出フォーマットを表示
        </button>

        <p><!-- 削除済みのものはすべてのドロップボックスに出さない -->
          <%= form.label :tsk_value_id, "TSKバリュー" %>
          <%= form.collection_select :tsk_value_id, @tsk_values, :id, :value_name, { prompt: "選択してください" }, { class: 'form-select' } %>
        </p>

        <p>
          <%= form.label :kaizen_member_id, "KAIZENメンバー" %>
          <select name="kaizen_report[kaizen_member_id][]" id="select-kaizen-member" multiple="multiple" autocomplete="off">
            <option value="<%= current_user.id %>" selected><%= current_user.username %></option>
            <% @users.each do |user| %>
              <option value="<%= user.id %>"><%= user.username %></option>
            <% end %>
          </select>
        </p>

        <p>
          <!-- 評価進捗区分：初期値に"未評価"を設定 -->
          <%= form.hidden_field :evaluator_progress_id, value: 1 %>
        </p>

        <p>
          <!-- 賞区分：初期値に"賞無し"を設定 -->
          <%= form.hidden_field :award_id, value: 4 %>
        </p>

        <p>
        <!-- 確認を挟む -->
          <%= form.submit "提出", name: "submit", class: "btn btn-sm btn-primary", data: { turbo_method: :post, turbo_confirm: "本当に提出しますか?" } %>
          <%= form.submit "保存", name: "save", class: "btn btn-sm btn-secondary" %>
          <%= link_to '戻る', user_path(current_user), class: 'btn btn-sm btn-danger', data: { turbo_method: :get, turbo_confirm: '保存されていませんがよろしいですか？' } %>
        </p>
      </div>
    <% end %>
  </div>
</div>