<!-- 1 -->

<div class="container-fluid mb-4">
  <div class="row align-items-center mx-0">
    <div class="col-4 p-0">
      <%= image_tag 'cmn_logo01.svg', class: "img-fluid" %>
    </div>
    <div class="col-2 p-0 d-flex align-items-center justify-content-center">
      <strong class="responsive-text">報告書</strong>
    </div>
    <div class="col-6 p-0">
      <div class="row align-items-center mx-0">
        <div class="col rounded-3 square text-light me-1 d-flex justify-content-center align-items-center">
          <small class="small-text">優良賞</small>
        </div>
        <div class="col rounded-3 square text-light me-1 d-flex justify-content-center align-items-center">
          <small class="small-text">社長賞</small>
        </div>
        <div class="col rounded-3 square text-light d-flex justify-content-center align-items-center">
          <small class="small-text">No.1</small>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 2 -->

<div class="container-fluid mb-4">
  <div class="row">
    <div class="col-auto">
      <%= image_tag 'cmn_ico_circle01.svg', class: "img-fluid" %>
    </div>
    <div class="col px-0 pb-2">
      <strong>提出情報</strong>
    </div>
  </div>
  <div class="card custom-shadow">
    <div class="card-header bg-white">
      <div class="row m-2">
        <div class="col-2 p-0 d-flex align-items-center">
          <small class="text-black-50">提出回</small>
        </div>
        <div class="col-4 p-0 d-flex justify-content-center align-items-center">
          提出回
        </div>
        <div class="col-2 p-0 d-flex align-items-center">
          <small class="text-black-50">提出日</small>
        </div>
        <div class="col-4 p-0 d-flex justify-content-center align-items-center">
          <%= @kaizen_report.submission_date %>
        </div>
      </div>
    </div>
    <div class="card-footer bg-white">
      <div class="row m-2">
        <div class="col-2 p-0 d-flex align-items-center">
          <small class="text-black-50">部署</small>
        </div>
        <div class="col-4 p-0 d-flex justify-content-center align-items-center">
          <%= @kaizen_report.department.department_name %>
        </div>
        <div class="col-2 p-0 d-flex align-items-center">
          <small class="text-black-50">氏名</small>
        </div>
        <div class="col-4 p-0 d-flex justify-content-center align-items-center">
          <%= @kaizen_report.user.username %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 3 -->

<div class="container-fluid mb-3">
  <div class="row">
    <div class="col-auto">
      <%= image_tag 'cmn_ico_circle01.svg', class: "img-fluid" %>
    </div>
    <div class="col px-0 pb-2">
      <strong>KAIZEN内容</strong>
    </div>
  </div>
  <div class="card custom-shadow">
    <div class="card-body">
      <div class="row m-2">
        <div class="col-auto p-0 d-flex justify-content-center align-items-center">
          <small class="text-black-50">タイトル</small>
        </div>
        <div class="col d-flex justify-content-center align-items-center">
          <%= @kaizen_report.subject %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 4 -->

<div class="container-fluid mb-3">
  <div class="card border-info border-5 custom-shadow">
    <div class="card-header bg-white">
      <div class="col-3 rounded-pill bg-primary text-light d-flex justify-content-center align-items-center p-1">
        <small>KAIZEN前</small>
      </div>
    </div>
    <% if @kaizen_report.before_images.attached? %>
      <div id="kaizenBeforeImagesCarousel" class="carousel slide carousel-dark">
        <div class="carousel-inner">
          <% @kaizen_report.before_images.each_with_index do |image, index| %>
            <div class="carousel-item <%= 'active' if index.zero? %>">
              <%= image_tag image, class: "d-block w-100" %>
            </div>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#kaizenBeforeImagesCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#kaizenBeforeImagesCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    <% end %>
    <div class="card-footer bg-white">
      <div class="col m-2">
        <%= @kaizen_report.before_text %>
      </div>
    </div>
  </div>
</div>


<!-- 5 -->

<div class="container-fluid mb-3">
  <div class="card border-warning border-5 custom-shadow">
    <div class="card-header bg-white">
      <div class="col-3 rounded-pill bg-danger text-light d-flex justify-content-center align-items-center p-1">
        <small>KAIZEN後</small>
      </div>
    </div>
    <% if @kaizen_report.after_images.attached? %>
      <div id="kaizenAfterImagesCarousel" class="carousel slide carousel-dark">
        <div class="carousel-inner">
          <% @kaizen_report.after_images.each_with_index do |image, index| %>
            <div class="carousel-item <%= 'active' if index.zero? %>">
              <%= image_tag image, class: "d-block w-100" %>
            </div>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#kaizenAfterImagesCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#kaizenAfterImagesCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    <% end %>
    <div class="card-footer bg-white">
      <div class="col m-2">
        <%= @kaizen_report.after_text %>
      </div>
    </div>
  </div>
</div>


<!-- 6 -->

<div class="container-fluid mb-3">
  <div class="card custom-shadow">
    <div class="card-body">
      <div class="row m-0">
        <div class="col-2 text-light d-flex align-items-center p-0">
          <small class="text-light rounded-pill bg-light-green px-2 py-1">効果</small>
        </div>
        <div class="col d-flex justify-content-center align-items-center">
          <%= @kaizen_report.effect_comment %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 7 -->

<div class="container-fluid mb-3">
  <div class="card custom-shadow">
    <div class="card-body">
      <div class="row m-2">
        <div class="col-3 p-0 d-flex align-items-center">
          <small class="text-black-50">費用</small>
        </div>
        <div class="col-3 p-0 d-flex justify-content-center align-items-center">
          <%= @kaizen_report.cost %>円
        </div>
        <div class="col-3 p-0 d-flex align-items-center">
          <small class="text-black-50">効果金額</small>
        </div>
        <div class="col-3 p-0 d-flex justify-content-center align-items-center">
          <%= @kaizen_report.effect_amount %>円
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 8 -->

<div class="container-fluid mb-3">
  <div class="card custom-shadow">
    <div class="card-body">
      <div class="row m-2">
        <div class="col-3 p-0 d-flex align-items-center">
          <small class="text-black-50">メンバー</small>
        </div>
        <div class="col-9">
          <div class="row">
            <% member_ids = JSON.parse(@kaizen_report.kaizen_member_id).map(&:to_i) %>
            <% member_usernames = User.where(id: member_ids).pluck(:username) %>
            <% member_usernames.each do |username| %>
              <div class="col-auto rounded-pill bg-off-white d-flex justify-content-center align-items-center py-1 px-2 m-1">
                <small><%= username %></small>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 9 -->

<div class="container-fluid mb-5">
  <div class="card custom-shadow">
    <div class="card-body">
      <div class="row m-2">
        <div class="col-3 p-0 d-flex align-items-center">
          <small class="text-black-50">タグ</small>
        </div>
        <div class="col-auto rounded-pill bg-off-white d-flex justify-content-center align-items-center py-1 px-2 m-1">
          <small><%= @kaizen_report.tsk_value.value_name %></small>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-grid gap-2 col-6 mx-auto custom-shadow">
  <%= link_to '戻る', root_path, class: 'btn btn-danger text-light' %>
</div>