<!-- sidebar -->
<%= render 'admin/sidebar' %>

<!-- form -->

<div class="row">
  <div class="col-md-10 offset-md-2 mb-4">
    <div class="card">
      <h5 class="card-header">効果金額算出用</h5>
      <div class="card-body">
        <%= form_with(model: @effect_amount, url: {controller: 'admin/effect_amounts', action: 'update' }, local: true) do |form| %>
          <div class="form-group">
            <%= form.label :kaizen_type, "KAIZEN種類:" %>
            <%= form.text_field :kaizen_type %>

            <%= form.label :unit, "単位:" %>
            <%= form.text_field :unit %>

            <%= form.label :amount, "金額(円):" %>
            <%= form.number_field :amount %>

            <%= form.label :deletion_flag, "削除フラグ:" %>
            <%= form.check_box :deletion_flag, {}, "true", "false" %>

            <%= form.submit "登録", class: "btn btn-sm btn-primary" %>
            <a href="/admin/effect_amounts/" class="btn btn-sm btn-danger">戻る</a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
