<!-- sidebar -->
<%= render 'admin/sidebar' %>

<!-- table -->

<div class="row">
  <div class="col-md-10 offset-md-2 mb-4">
    <div class="card">
      <h5 class="card-header">効果金額算出用</h5>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">KAIZEN種類</th>
                <th scope="col">単位</th>
                <th scope="col">金額(円)</th>
                <th scope="col">作成日時</th>
                <th scope="col">更新日時</th>
                <th scope="col">削除フラグ</th>
                <th scope="col">削除日時</th>
              </tr>
            </thead>
            <tbody>
              <% @effect_amounts.each do |effect_amount| %>
                <tr>
                  <th scope="row"><%= effect_amount.id %></th>
                  <td><%= effect_amount.kaizen_type %></td>
                  <td><%= effect_amount.unit %></td>
                  <td><%= effect_amount.amount %></td>
                  <td><%= effect_amount.created_at.strftime('%Y/%m/%d') %></td>
                  <td><%= effect_amount.updated_at.strftime('%Y/%m/%d') %></td>
                  <td><%= effect_amount.deletion_flag %></td>
                  <td><%= link_to '編集', edit_admin_effect_amount_path(effect_amount), class: 'btn btn-sm btn-primary' %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <a href="/admin/effect_amounts/new" class="btn btn-block btn-secondary">新規作成</a>
      </div>
    </div>
  </div>
</div>
