<!-- sidebar -->
<%= render 'admin/sidebar' %>

<!-- form -->

<div class="row">
  <div class="col-md-10 offset-md-2 mb-4">
    <div class="card">
      <h5 class="card-header">新規部署登録</h5>
      <div class="card-body">
        <%= form_with(model: @department, url: {controller: 'admin/departments', action: 'update' }, local: true) do |form| %>
          <div class="form-group">
            <%= form.label :department_name, "部署名:" %>
            <%= form.text_field :department_name %>

            <%= form.submit "登録", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
