<h2><%= current_user.username %></h2>

<div class="card">
  <h5 class="card-header">改善報告一覧</h5>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">件名</th>
            <th scope="col">提出日</th>
            <th scope="col">提出状況</th>
            <th scope="col">評価進捗</th>
          </tr>
        </thead>
        <tbody>
          <% @kaizen_reports.each do |i| %>
            <tr>
              <th scope="row"><%= i.id %></th>
              <td><%= i.subject %></td>
              <td><%= i.submission_date %></td>
              <td></td>
              <td><%= i.evaluator_progress.status %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%= paginate @kaizen_reports, theme: 'bootstrap-5' %>