<h2>改善報告一覧</h2>

<!-- 検索フォーム -->
<%= turbo_frame_tag 'search' do %>
  <div class="mb-3">
    <%= search_form_for @kaizen_reports_search, url: list_kaizen_reports_path, remote: true, data: { turbo_frame: 'results' } do |f| %>
      <div class="row">
        <div class="col">
          <%= f.label :user_username_cont, "氏名で検索:" %>
          <%= f.search_field :user_username_cont, oninput: "requestSubmit()", class: 'form-control' %>
        </div>
        <div class="col">
          <%= f.label :award_id_eq, "賞で検索:" %>
          <%= f.collection_select :award_id_eq, Award.all, :id, :award_name, include_blank: "選択してください", class: 'form-control' %>
        </div>
        <div class="col">
          <%= f.label :submission_date_gteq, "提出日（から）:" %>
          <%= f.date_field :submission_date_gteq, class: 'form-control' %>
        </div>
        <div class="col">
          <%= f.label :submission_date_lteq, "提出日（まで）:" %>
          <%= f.date_field :submission_date_lteq, class: 'form-control' %>
        </div>
      </div>
      <div class="mt-3">
        <%= f.submit "検索", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
<% end %>

<!-- 改善一覧テーブル(検索結果) -->
<%= turbo_frame_tag 'results' do %>
  <div class="card mb-5">
    <h5 class="card-header">改善報告一覧</h5>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">提出日</th>
              <th scope="col">件名</th>
              <th scope="col">提出状況</th>
              <th scope="col">評価進捗</th>
            </tr>
          </thead>
          <tbody>
            <% @kaizen_reports_result.each do |i| %>
              <tr>
                <th scope="row"><%= i.id %></th>    
                <td><%= i.submission_date %></td>
                <td><%= i.subject %></td>
                <td><%= i.submission_flag ? '提出済み' : '未提出' %></td>
                <td><%= i.evaluator_progress.status %></td>
                <td><%= link_to '詳細', list_kaizen_report_path(i), class: 'btn btn-sm btn-secondary', data: { turbo: false } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div>
      <!-- ページネーション:改善一覧テーブル -->
      <%= paginate @kaizen_reports_result, theme: 'bootstrap-5' %>
    </div>
  </div>
<% end %>
