<!-- sidebar -->
<%= render 'admin/sidebar' %>

<!-- table -->

<div class="row">
  <div class="col-md-10 offset-md-2 mb-4">
    <div class="card">
      <h5 class="card-header">TSKValue登録</h5>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Value名</th>
                <th scope="col">作成日時</th>
                <th scope="col">更新日時</th>
                <th scope="col">削除フラグ</th>
                <th scope="col">削除日時</th>
              </tr>
            </thead>
            <tbody>
              <% @tsk_values.each do |tsk_value| %>
                <tr>
                  <th scope="row"><%= tsk_value.id %></th>
                  <td><%= tsk_value.value_name %></td>
                  <td><%= tsk_value.created_at.strftime('%Y/%m/%d') %></td>
                  <td><%= tsk_value.updated_at.strftime('%Y/%m/%d') %></td>
                  <td><%= tsk_value.deletion_flag %></td>
                  <td><%= tsk_value.deletion_date ? tsk_value.deletion_date.strftime('%Y/%m/%d') : '-' %></td>
                  <td><%= link_to '編集', edit_admin_tsk_value_path(tsk_value), class: 'btn btn-sm btn-primary' %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
          <a href="/admin/tsk_values/new" class="btn btn-block btn-secondary">新規作成</a>
      </div>
    </div>
  </div>
</div>
