<!-- sidebar -->
<%= render 'admin/sidebar' %>

<!-- form -->

<div class="row">
  <div class="col-md-10 offset-md-2 mb-4">
    <div class="card">
      <h5 class="card-header">ユーザー編集</h5>
      <div class="card-body">

        <!-- エラーメッセージ -->
        <% if @errors.present? %>
          <div class="alert alert-danger">
            <% @errors.each do |error| %>
              <p><%= error %></p>
            <% end %>
          </div>
        <% end %>

        <%= form_with(model: @user, url: {controller: 'admin/users', action: 'update' }, local: true) do |form| %>
          <div class="form-group">
            <p>
              <%= form.label :username, "ユーザー名:" %>
              <%= form.text_field :username, { class: 'form-control' } %>
            </p>
        
            <p>
              <%= form.label :email, "メールアドレス:" %>
              <%= form.text_field :email, { class: 'form-control' } %>
            </p>
        
            <p>
              <%= form.label :employee_code, "社員CD:" %>
              <%= form.number_field :employee_code, { class: 'form-control' } %>
            </p>
        
            <p>
              <%= form.label :department_id, "部署名:" %>
              <%= form.collection_select :department_id, @departments, :id, :department_name, { prompt: "選択してください" }, { class: 'form-select' } %>
            </p>
        
            <p>
              <%= form.label :evaluator_id, "評価者区分:" %>
              <%= form.collection_select :evaluator_id, @evaluators, :id, :status, { prompt: "選択してください" }, { class: 'form-select' } %>
              <small>1次評価者かつ2次評価者の場合、2次評価者を選択してください</small>
            </p>
        
            <p>
              <%= form.label :first_evaluator_id, "1次評価者:" %>
              <select name="user[first_evaluator_id]" id="select-first-evaluator" placeholder="1次評価者を選択してください" autocomplete="off">
                <optgroup label="1次評価者">
                  <% @first_evaluators.each do |evaluator| %>
                    <option value="<%= evaluator.id %>" <%= 'selected' if evaluator.id == @user.first_evaluator_id %>><%= evaluator.username %></option>
                  <% end %>
                </optgroup>
                <optgroup label="2次評価者">
                  <% @second_evaluators.each do |evaluator| %>
                    <option value="<%= evaluator.id %>" <%= 'selected' if evaluator.id == @user.first_evaluator_id %>><%= evaluator.username %></option>
                  <% end %>
                </optgroup>
              </select>

              <%= form.label :second_evaluator_id, "2次評価者:" %>
              <select name="user[second_evaluator_id]" id="select-second-evaluator" placeholder="2次評価者を選択してください" autocomplete="off">
                <optgroup label="2次評価者">
                  <% @second_evaluators.each do |evaluator| %>
                    <option value="<%= evaluator.id %>" <%= 'selected' if evaluator.id == @user.second_evaluator_id %>><%= evaluator.username %></option>
                  <% end %>
                </optgroup>
              </select>

              <small>1次評価者と2次評価者が同じの場合、同じ人を選択してください</small>
            </p>
        
            <p>
              <div class="form-check">
                <%= form.label :admin_flag, "システム管理者", class: 'form-check-label' %>
                <%= form.check_box :admin_flag, { class: 'form-check-input' }, "true", "false" %>
              </div>
            </p>

            <p>
              <div class="form-check">
                <%= form.label :deletion_flag, "削除フラグ", class: 'form-check-label' %>
                <%= form.check_box :deletion_flag, { class: 'form-check-input' }, "true", "false" %>
              </div>
            </p>
        
            <p>
              <%= form.submit "登録", class: "btn btn-sm btn-primary" %>
              <%= link_to '戻る', "/admin/users/", class: 'btn btn-sm btn-danger' %>
            </p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
