<!-- sidebar -->
<%= render 'admin/sidebar' %>

<!-- table -->

<div class="row">
  <div class="col-md-10 offset-md-2 mb-4">
    <div class="card">
      <h5 class="card-header">ユーザー登録</h5>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">ユーザー名</th>
                <th scope="col">メールアドレス</th>
                <th scope="col">社員CD</th>
                <th scope="col">部署名</th>
                <th scope="col">評価者区分</th>
                <th scope="col">1次評価者</th>
                <th scope="col">2次評価者</th>
                <th scope="col">システム管理者フラグ</th>
                <th scope="col">作成日時</th>
                <th scope="col">更新日時</th>
                <th scope="col">削除フラグ</th>
                <th scope="col">削除日時</th>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |i| %>
                <tr>
                  <th scope="row"><%= i.id %></th>
                  <td><%= i.username %></td>
                  <td><%= i.email %></td>
                  <td><%= i.employee_code %></td>
                  <td><%= i.department.department_name %></td>
                  <td><%= i.evaluator.status %></td>
                  <td><%= i.first_evaluator&.username %></td>
                  <td><%= i.second_evaluator&.username %></td>
                  <td><%= i.admin_flag %></td>
                  <td><%= i.created_at.strftime('%Y/%m/%d') %></td>
                  <td><%= i.updated_at.strftime('%Y/%m/%d') %></td>
                  <td><%= i.deletion_flag %></td>
                  <td><%= i.deletion_date ? i.deletion_date.strftime('%Y/%m/%d') : '-' %></td>
                  <td><%= link_to '編集', "/admin/users/#{i.id}/edit", class: 'btn btn-sm btn-primary' %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
          <%= link_to '新規作成', "/admin/users/new", class: 'btn btn-block btn-secondary' %>
      </div>
    </div>
    <%= paginate @users, theme: 'bootstrap-5' %>
  </div>
</div>
