<nav class="navbar fixed-top navbar-expand-sm navbar-light bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <%= image_tag 'cmn_logo01.svg', size: '150x50' %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <% if user_signed_in? %>
          <%= link_to "改善報告一覧", list_kaizen_reports_path, class: 'nav-link', data: { turbo: false } %>
          <%= link_to "新規作成", "/kaizen_reports/new", class: 'nav-link', data: { turbo: false } %>
          <%= link_to "マイページ", user_path(current_user), class: 'nav-link', data: { turbo: false } %>
          <% if current_user.admin_flag %>
            <%= link_to "管理画面", "/admin/users", class: 'nav-link', data: { turbo: false } %>
          <% end %>
          <% unless current_user.evaluator_id == 4 %>
            <%= link_to "評価画面", evaluator_path(current_user), class: 'nav-link', data: { turbo: false } %>
          <% end %>
          <%= link_to "ログアウト", "/users/sign_out", method: :delete, class: 'nav-link', data: { turbo: false } %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
