<nav class="navbar fixed-top navbar-expand-sm navbar-light bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <%= image_tag 'cmn_logo01.svg', size: '150x50' %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <%= link_to "改善報告一覧", "/users/", class: 'nav-link' %>
        <% if user_signed_in? %>
          <%= link_to "新規作成", "/kaizen_reports/new", class: 'nav-link' %>
          <%= link_to "マイページ", user_path(current_user), class: 'nav-link' %>
          <%= link_to "ログアウト", "/users/sign_out", data: { turbo_method: :delete }, class: 'nav-link' %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
