<!-- sidebar -->
<%= render 'admin/sidebar' %>

<!-- form -->

<div class="row">
  <div class="col-md-10 offset-md-2 mb-4">
    <div class="card">
      <h5 class="card-header">賞区分編集</h5>
      <div class="card-body">
        <%= form_with(model: @award, url: {controller: 'admin/awards', action: 'update' }, local: true) do |form| %>
          <div class="form-group">
            <%= form.label :award_name, "賞名:" %>
            <%= form.text_field :award_name %>

            <%= form.label :deletion_flag, "削除フラグ:" %>
            <%= form.check_box :deletion_flag, {}, "true", "false" %>

            <%= form.submit "登録", class: "btn btn-sm btn-primary" %>
            <%= link_to '戻る', "/admin/awards/", class: 'btn btn-block btn-danger' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
