<!-- sidebar -->
<%= render 'admin/sidebar' %>

<!-- table -->

<div class="row">
  <div class="col-md-10 offset-md-2 mb-4">
    <div class="card">
      <h5 class="card-header">新規賞区分登録</h5>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">賞名</th>
                <th scope="col">作成日時</th>
                <th scope="col">更新日時</th>
                <th scope="col">削除フラグ</th>
                <th scope="col">削除日時</th>
              </tr>
            </thead>
            <tbody>
              <% @awards.each do |award| %>
                <tr>
                  <th scope="row"><%= award.id %></th>
                  <td><%= award.award_name %></td>
                  <td><%= award.created_at.strftime('%Y/%m/%d') %></td>
                  <td><%= award.updated_at.strftime('%Y/%m/%d') %></td>
                  <td><%= award.deletion_flag %></td>
                  <td><%= award.deletion_date ? award.deletion_date.strftime('%Y/%m/%d') : '-' %></td>
                  <td><%= link_to '編集', edit_admin_award_path(award), class: 'btn btn-sm btn-primary' %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
          <a href="/admin/awards/new" class="btn btn-block btn-secondary">新規作成</a>
      </div>
    </div>
  </div>
</div>
